backend-rust/target/

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
frontend/src-tauri/binaries/
frontend/src-tauri/gen/
frontend/src-tauri/target/
